    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3> 
                        <p><a href="https://www.google.com/maps/place/SPiN+New+York/@40.738354,-73.9820327,15z/data=!4m5!1m2!2m1!1sSPiN+New+York,+East+23rd+Street,+New+York,+NY!3m1!1s0x89c259a137388d01:0xf0879ba78872713c" target="_blank">
                                48 E 23rd St <br>
                            
                                New York, NY 10010 <br></a>
                            
                        </p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Connect</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/SPiNNewYork" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>

                            <li>
                                <a href="https://twitter.com/spinpong" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>

                            <li>
                                <a href="http://instagram.com/spinnewyork" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>

                            
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Questions?</h3>
                        <p><a href="mailto:sam@spinyc.com">sam@spinyc.com</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Freelancer 2014
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
